html {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #63e0ff;
}

#calc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 375px;
    height: 812px;
    border-radius: 10px;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 120px;
    background-color: gray;
    margin-bottom: 30px;
}

#top-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px;
    border-color: black;
    border-radius: 10px;
    width: 90%;
    height: 20%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 400;
}

#bottom-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px;
    border-color: black;
    border-radius: 10px;
    width: 90%;
    height: 70%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 35px;
}

#keyboard-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 90%;
    height: 70%;
    border-radius: 10px;
    border: 0.5mm solid black;
    margin-top: 30px;
}

#mem-buttons-holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mem-buttons {
    font-size: 14px;
    width: 50px;
    height: 30px;
    border: 0;
    background-color: transparent;
    margin-bottom: 10px;
}

#buttons-holder-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#buttons-holder-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#buttons-holder-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#buttons-holder-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#buttons-holder-5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.calc-buttons {
    font-size: 28px;
    width: 90%;
    height: 70px;
}